<div class="m-contentList__listing">
	{{#sortable-objects
		sortableObjectList=sortableObjectList
		useSwap=true
		sortingScope="sortingGroup"}}
	  {{#each sortableObjectList as |item|}}
	    {{#draggable-object content=item isSortable=true sortingScope="sortingGroup"}}
	      <div class="m-pageSettings__button">
	      	{{fa-icon "arrows"}}
	      </div>
	      {{item.name}}
	    {{/draggable-object}}
	  {{/each}}
	{{/sortable-objects}}
</div>
