<div class="m-pagesFinder__popover">
	<div class="m-pagesFinder__header">
		<span class="m-pagesFinder__title">Pages</span>
		<span class="m-close" {{action "closeModal"}}>
			{{fa-icon "close"}}
		</span>
	</div>
	<div class="m-pagesFinder__body">
		{{#if data}}
			{{#sortable-group tagName="ul" classNames="m-pagesTree" onChange="reorderItems" as |group|}}
				{{#each data as |item|}}
					{{#sortable-item
						tagName="li"
						model=item
						group=group
						mouseEnter=(action "setHovered" item)
						mouseLeave=(action "unsetHovered")
						click=(action "setSelected" item)
						class=(if item.isActive "isActive")
						handle=".m-pagesTree__handle"}}
							{{fa-icon "sort"}}
							{{item.title}}
							<div class="m-pagesTree__handle"></div>
							{{#if item.isActive}}
								<div class="m-pageSettings__button {{if settingsActive "isHovered"}}" {{action "onSettingsClick" item}}>
									{{fa-icon "long-arrow-right"}}
								</div>
							{{/if}}
					{{/sortable-item}}
				{{/each}}
			{{/sortable-group}}
		{{else}}
			No Items Found for Search Term
		{{/if}}
	</div>
</div>
