<div class="m-pagesFinder__popover">
	<div class="m-pagesFinder__header">
		<span class="m-pagesFinder__title">{{data.title}} - Page Setting</span>
		<span class="m-close" {{action "closeModal"}}>
			{{fa-icon "long-arrow-left"}}
		</span>
	</div>
	<div class="m-pagesFinder__body">
		<div class="m-pageSettings__tabs">
			<ul class="m-pageSettings__headings">
				<li class="isActive">Info</li>
				<li>Layout</li>
				<li>Options</li>
				<li>SEO</li>
			</ul>
		</div>
	</div>
</div>
