<div class="m-pageCanvas__body">
	<div class="m-pageCanvas__block m-pageCanvas__header">
		<label class="m-pageCanvas__label">
			Header
		</label>
		{{#draggable-object-target action="addToHeader"}}

		{{/draggable-object-target}}
	</div>
	<div class="m-pageCanvas__block m-pageCanvas__main">
		<label class="m-pageCanvas__label">
			Main
		</label>
		{{#draggable-object-target action="addToMain"}}
			{{#sortable-objects
				sortableObjectList=mainContentItems
				useSwap=true
				sortingScope="sortingGroup"}}
			{{#each mainContentItems as |item|}}
				{{#draggable-object content=item isSortable=true sortingScope="sortingGroup"}}
				  <div class="m-pageContentItem">
				  	{{item.type}}
				  </div>
				{{/draggable-object}}
			{{/each}}
			{{/sortable-objects}}
		{{/draggable-object-target}}
	</div>
	<div class="m-pageCanvas__block m-pageCanvas__footer">
		<label class="m-pageCanvas__label">
			Footer
		</label>
		{{#draggable-object-target action="addToFooter"}}

		{{/draggable-object-target}}
	</div>

</div>
