<div class="m-search__dropdown" {{action 'toggleActive'}}>
	<span>
		{{fa-icon "file-text-o"}}
	</span>
	Pages: {{selectedData.title}}
	<span class="m-search__dropdownCarrot">
		{{fa-icon "chevron-down"}}
	</span>
</div>
{{#if isActive}}
	<div class="m-search__input">
		<span class="m-search__inputIcon">
			{{fa-icon "search"}}
		</span>
		{{input
			autofocus
			id="search"
			type="text"
			placeholder="Find a page.."
			value=currentValue
			key-press= (action "onChanged") }}
	</div>
	{{#pages-finder
		data=filteredData
		settingsActive=showSettings
		onReorder=(action "setReorderedItems")
		onSelect=(action "onSetSelectedItem")
		onCloseFinder=(action "setActiveState")
		onSettingsClick=(action "setSettingsState" true)}}
	{{/pages-finder}}
	{{#if showSettings}}
		{{#page-settings
			data=selectedData
			onCloseSettings= (action "setSettingsState" false)}}
		{{/page-settings}}
	{{/if}}
{{/if}}
