{{#each model as |button index|}}
	{{#slide-nav-button
		position=index
		isActive=button.isActive
		identifier=button.identifier
		icon=button.icon
		label=button.label
		noHover=noHover
		action="setActiveButton" }}
	{{/slide-nav-button}}
	{{#if button.isActive}}
		{{#slide-nav-modal
			label=button.label
			position=index
			action="clearActiveButton"}}
		{{/slide-nav-modal}}
	{{/if}}
{{/each}}