<div class="m-sidenav__modal {{if isFirst "first"}}">
	<div class="m-sidenav__modalTitle">
		{{label}}
	</div>
	<div class="m-sidenav_modalBody">
		{{#content-list}}{{/content-list}}
	</div>
	<span class="m-close" {{action "closeModal"}}>
		{{fa-icon "close"}}
	</span>
</div>
