<button class="m-sidenav__button
	{{if noHover "noHover"}}
	{{if isActive "isActive"}}"
	{{action 'toggleActive'}}>
		{{fa-icon icon}}<span>{{label}}</span>
</button>
{{#if isActive}}
	{{#if isFirst}}
		<svg class="m-sidenav__buttonEar first" width="67" height="72" viewBox="0 0 67 72" data-reactid=".0.0.2.0.$1.0.$0.0.2.$=1$/=01$leftBar.0.$rEditor=1panels=1backgroundPanel.$selectedSvg"><defs><filter id="a" width="200%" height="200%" x="-50%" y="-50%" filterUnits="objectBoundingBox"><feOffset in="SourceAlpha" result="shadowOffsetOuter1"></feOffset><feGaussianBlur stdDeviation="1.581" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur><feColorMatrix values="0 0 0 0 0.0862745098 0 0 0 0 0.176470588 0 0 0 0 0.239215686 0 0 0 0.266 0" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix><feMerge><feMergeNode in="shadowMatrixOuter1"></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter></defs><path fill="#FA7C33" d="M27.856 4C14.666 4.103 4 14.759 4 27.936 4 41.174 14.76 52.03 28.031 52.03c-3.673 0 13.314-.05 13.314-.05 9.058.474 19.9 3.464 21.653 19.022l-.023-66.989L27.856 4z" filter="url(#a)"></path></svg>
	{{else}}
		<svg class="m-sidenav__buttonEar" width="75" height="89" viewBox="0 0 75 89" data-reactid=".0.0.2.0.$1.0.$0.0.2.$=1$/=01$leftBar.0.$wixStore=1panels=1wixStorePanel.$selectedSvg"><defs><filter id="a" width="200%" height="200%" x="-50%" y="-50%" filterUnits="objectBoundingBox"><feOffset in="SourceAlpha" result="shadowOffsetOuter1"></feOffset><feGaussianBlur stdDeviation="3.581" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur><feColorMatrix values="0 0 0 0 0.0862745098 0 0 0 0 0.176470588 0 0 0 0 0.239215686 0 0 0 0.266 0" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix><feMerge><feMergeNode in="shadowMatrixOuter1"></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter></defs><path fill="#FB7D33" d="M66.998 3c-1.534 12.164-8.657 16.407-18.208 16.698-.328-.011-17.954-.013-17.954-.013v.009c-13.179.095-23.837 11.089-23.837 24.261 0 13.232 10.752 23.709 24.012 23.709-4.321 0 14.639.043 14.639.043 9.05.473 19.599 3.744 21.348 19.296V3z" ></path></svg>
	{{/if}}
{{/if}}