*{
  box-sizing: border-box;
}
body,html{
  box-sizing: border-box;
  background:#cecece;
  // background: tan;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  height:100%;
  width: 100%;
}
input, textarea, keygen, select, button{
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/**
 * HEADER COMPONENT ITEMS
 */
.m-header{
  position: fixed;
  height:45px;
  width:100%;
  z-index:2;
  top:0;
  left:0;
  background-image: linear-gradient(-180deg, #fff 0, #fefefe 100%);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2), 0 2px 14px 0 rgba(0,0,0,0.2);
}

/**
 * SEARCH COMPONENTS
 */

.m-search{
  position: relative;
  height:100%;
  width: 246px;
  margin-left: 82px;
  border-left:1px solid #c9ddff;
  border-right:1px solid #c9ddff;
  background: #fff;
  color:#3899ec;
  display: inline-block;
}
.m-search__input{
  height:100%;
  width: 100%;
  position: absolute;
  left:0;
  top:0;
  z-index:2;
}
.m-search__input span,.m-search__dropdown span{
  float: left;
  width: 40px;
  height:100%;
  display: flex;
  align-items:center;
  justify-content:center;
  cursor: pointer;
}
.m-search__inputIcon{
  background: #fff;
}
.m-search input{
  float: left;
  border:none;
  height:100%;
  width: calc(100% - 40px);
  outline:none;
  font-size: 14px;
  color:#333;
  font-weight: 300;
}
.m-search__dropdown{
  cursor: pointer;
  width: 100%;
  height:100%;
  z-index:1;
  background:#E0FFFF ;
  padding: 0px;
  color:#222;
  align-items:center;
  font-size: 14px;
  display: flex;
}
.m-search__dropdown:hover{
  color:#6a6cb2;
}
.m-search__dropdown .m-search__dropdownCarrot{
  align-self:flex-end;
  font-size: 11px;
  margin-left:auto;
}
/**
 * SIDENAV COMPONENT ITEMS
 */
.m-sidenav__wrapper{
  position: fixed;
  margin-top: 60px;
  margin-left: 10px;
  z-index:1;
}
.m-sidenav__item{
  position: relative;
  margin:10px 0;
}

/**
 * Sidenav Button Component
 */
.m-sidenav__button {
  position: relative;
  width: 44px;
  height: 44px;
  font-size: 20px;
  border: 0;
  background-image: linear-gradient(-180deg, #fff 0, #c9e3e2 100%);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2), 0 0px 4px 0 rgba(0,0,0,0.2);
  border-radius: 100px;
  color: #222;
  font-weight: 700;
  cursor: pointer;
  transition:.2s;
  overflow: hidden;
  outline: none;
  padding: 0;
}
.m-sidenav__button i{
  position: absolute;
  z-index:3;
  top:12px;
  left:12px;
}
.m-sidenav__button.isActive{
  background: #3899ec;
  color:#fefefe;
}
.m-sidenav__button:not(.isActive):not(.noHover):hover {
  width: 170px;
}
.m-sidenav__button:not(.isActive).noHover:hover{
  color:#888;
}
.m-sidenav__button span{
  position: absolute;
  top: 13px;
  left:30px;
  width:200px;
  font-weight: 300;
  font-size: 15px;
  margin-left: 20px;
  text-align: left;
  opacity: 0;
  transition-timing-function: ease-in;
  transition:0.6s;
}
.m-sidenav__button:not(.isActive):not(.noHover):hover span{
  display: block;
  opacity: 1;
  transition: 1s;
  color: #334659;
}
.m-sidenav__buttonEar{
  position: absolute;
  z-index:2;
  left:-11px;
  top:-22px;
}
.m-sidenav__buttonEar.first{
  left: -6px;
  top: -8px;
}
.m-sidenav__buttonEar path{
  fill:#3899ec;
}


/**
 * Sidenav Modal
 */

 .m-sidenav__modal{
    position: absolute;
    border-radius:6px;
    border-left:6px solid #3899ec;
    z-index:1;
    left:56px;
    top:6px;
    padding:0;
    width:360px;
    min-height:300px;
    max-height:700px;
    height:calc(100vh - 112px);
    background: #f0f3f5;
    box-shadow:0 0 14px 0 rgba(22, 45, 61, 0.36)
 }
 .m-sidenav__modal.first{
    border-top-left-radius: 0;
 }
 .m-sidenav__modalTitle{
    width:100%;
    color:#fff;
    background: #3899ec;
    font-weight: 300;
    border-radius:0 6px 0 0;
    font-size: 15px;
    padding:15px 20px;
    border-bottom:1px solid #cecece;
 }
 .m-sidenav__modalBody{
  padding: 20px 30px;
 }
/**
 * CONTENT ITEM LIST COMPONENTS
 */

.m-contentList__listing{
  padding: 15px 20px;
}
.m-contentList__listing .draggable-object i{
  color:#2b5672;
}
.m-contentList__listing .draggable-object:hover .m-pageSettings__button{
  background: #3899ec;
}
.m-contentList__listing .draggable-object:hover i{
  color: #fefefe;
}
.m-contentList__listing .draggable-object{
  position: relative;
  background-color: #fff;
  border-radius: 7px;
  border: 1px solid #cde;
  box-sizing: border-box;
  color: #2b5672;
  height: 39px;
  line-height: 39px;
  padding-left: 12px;
  font-size: 15px;
  margin-bottom: 4px;
  cursor: move;
}
/**
 * PAGE ITEM COMPONENTS
 */
 .m-pageContentItem{
  padding:50px;
  margin: 0 auto 20px auto;
  width: 900px;
  background: #fefefe;
 }
/**
 * PAGE CANVAS COMPONENTS
 */
.m-pageCanvas__body{
  height: 100%;
}
.m-pageCanvas__block{
  height: 300px;
  min-height: calc(100% - 200px);
  width:100%;
  position: relative;
}
.m-pageCanvas__block:hover .m-pageCanvas__label{
  display: block;
}
.m-pageCanvas__header,.m-pageCanvas__footer{
  height: 90px;
  min-height: 0;
  background: #fff;
}
.m-pageCanvas__label{
  position: absolute;
  display: none;
  left:50%;
  bottom:-10px;
  font-size: 10px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  padding: 5px 20px;
  border-radius:5px;
  z-index:8;
  background:#3899ec;
  color:white;
}
/**
 * PAGES FINDER COMPONENTS
 */
.m-pagesFinder{
  position: absolute;
  top: 74px;
  z-index:15;
}
.m-pagesFinder__title{
  padding:15px 20px;
  display: block;
}
.m-pagesFinder__header{
  height:54px;
  background:#3899ec;
  position: relative;
  color:#fff;
  z-index:11;
}
.m-pagesFinder__body{
  display: block;
  border-radius: 6px;
  z-index:9;
  position: absolute;
  padding-top:65px;
  top: 0;
  left:0;
  width:100%;
  height:100%;
  background: #f0f3f5;
  box-shadow:0 0 14px 0 rgba(22, 45, 61, 0.36)
}
.m-pagesFinder__popover {
  border-radius:6px;
  overflow: hidden;
  z-index:1;
  padding:0;
  width:300px;
  min-height:300px;
  max-height:700px;
  height:calc(100vh - 112px);
  background: #fefefe;
}
.m-pagesFinder__popover .m-close{
  background:#2b81cb;
}
.m-pagesFinder__popover .m-close:hover{
  background:#0d487f;
}
.m-pagesFinder__popover:before {
  box-shadow:0 0 14px 0 rgba(22, 45, 61, 0.36)
}

.m-pagesFinder__popover:before{
  z-index:10;
  content: '';
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  background: #3899ec;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.m-pagesFinder__popover:before,
.m-pagesFinder__popover:after {
  bottom: 100%;
  left: 50%;
  margin-bottom: -10px;
  border-bottom: 0;
  border-right: 0;
}

/**
 * Pages list reorderable
 */
.m-pagesTree{
  list-style-type: none;
  margin: 0;
  box-sizing: border-box;
  padding: 0 17px 20px;
  width: 100%;
}
.m-pagesTree li{
  position: relative;
  background-color: #fff;
  border-radius: 7px;
  border: 1px solid #cde;
  box-sizing: border-box;
  color: #2b5672;
  height: 39px;
  line-height: 39px;
  padding-left: 12px;
  font-size: 15px;
  margin-bottom: 4px;
}
.m-pagesTree li:not(.isActive):hover{
  background:#eaf7ff
}
.m-pagesTree li.isActive{
  background: #d3edff;
}
.m-pagesTree .isActive i{
  color: #2b5672;
}
.m-pagesTree i{
  color:#3899ec;
  margin-right: 5px;
}
.m-pagesTree__handle{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height:100%;
  display: block;
  cursor: move;
}
/**
 * PAGES SETTINGS COMPONENTS
 */
.m-pageSettings__button{
  background:#fff;
  border-radius:100px;
  box-shadow: 0 1px 1px 0 #7a92a5;
  width: 25px;
  height:25px;
  color:#fefefe;
  position: absolute;
  top:6px;
  right:10px;
  text-align: center;
  cursor: pointer;
}
.m-pageSettings__button:hover,.m-pageSettings__button.isHovered{
  background: #3899ec;
}
.m-pageSettings__button:hover i,.m-pageSettings__button.isHovered i{
  color: #fefefe;
}
.m-pageSettings__button i{
  position: relative;
  top:0;
  transform:translateY(-50%);
  margin: 0;
}

.m-pageSettings{
  position: absolute;
  left:293px;
  top:74px;
  z-index:14;
}
.m-pageSettings .m-pagesFinder__title{
  padding-left: 40px;
}
.m-pageSettings  .m-pagesFinder__popover{
  width: 500px;
}
.m-pageSettings .m-pagesFinder__popover:before,.m-pageSettings .m-pagesFinder__popover:after{
  display: none;
}
.m-pageSettings .m-pagesFinder__body{
  padding-top: 55px;
  padding-left: 8px;
  background: #fff;
}

.m-pageSettings__tabs{
  position: relative;
}
.m-pageSettings__tabs ul{
  list-style-type: none;
  display: flex;
  justify-content:center;
  align-items:center;
  margin: 0;
  padding: 0;
  height:40px;
  text-align: center;
}
.m-pageSettings__tabs ul li{
  width: 25%;
  margin: 0;
  padding: 0;
  height:100%;
  background:#e0f2ff;
  line-height: 40px;
  font-size: 14px;
  border-right: 1px solid #cde;
  border-bottom: 1px solid #cde;
  cursor: pointer;
}
.m-pageSettings__tabs ul li:hover{
  background: #d3edff;
}
.m-pageSettings__tabs ul li.isActive{
  background:white;
  border-bottom:none;
}

/**
 * PAGE CANVAS COMPONENTS
 */
.m-pageCanvas{
  position: absolute;
  height:100%;
  width:100%;
  margin: 0;
  padding-top:47px;
  top: 0;
  left:0;
  background: #f8f8f8;
  z-index: 0;
}
.m-pageCanvas__body{
  text-align: center;
  margin-top: 0px;
}

/**
 * Misc SHARED
 */
 .m-close i{
  transform:translateY(50%);
  margin-top: -3px;
  display: block;
 }
 .m-close{
  background:#2b5672;
  border-radius:100px;
  width: 25px;
  height:25px;
  color:#fefefe;
  position: absolute;
  top:13px;
  right:15px;
  text-align: center;
  cursor: pointer;
 }
 .m-close:hover{
  background: #3899ec;
 }


 .draggable-object-target{
  width: 100%;
  height: 100%;
  padding: 10px 0;
  border: 1px dashed transparent;
 }
 .accepts-drag.draggable-object-target, .draggable-object-target:hover{
  border: 1px dashed #dedede;

 }
 .accepts-drag.draggable-object-target, .draggable-object-target:hover:after{
  display: block;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.2);
  z-index:10;
  top:0;
  left:0;
  position: absolute;
 }