{{pages}}
{{#interactive-header
	data = data
	selectedData = selectedItem
	onSetSelectedItem=(action "onSetSelectedItem")}}
{{/interactive-header}}

{{#slide-nav model = model}}
{{/slide-nav}}

{{#page-canvas data=selectedItem}}
{{/page-canvas}}